@model FormHotel
<az-module-layout script-random='(id)=>$"$(\".{id}\").AZManager();"' buttons="Model.GetButtonInfo()" class="az-manager" attr='data-form-size="az-modal-xl"' icon="fa fa-home">
    <div class="az-search-manager">
        <div class="row">
            <div class="col-md-10">
                <form class="az-search-form row">
                    <az-hidden-model model="Model" func="(item)=>((FormHotel)item).PageSize" />
                    <div class="form-group col-md-2">
                        <az-text-model model="Model" func="(item)=>((FormHotel)item).Name" label="Tên phòng trọ" />
                    </div>
                    <div class="form-group col-md-2">
                        <az-area-select model="Model" func="(item)=>((FormHotel)item).AreaID" label="Khu vực/ tòa nhà" />
                    </div>
                    <div class="form-group col-md-2">
                        <az-number-model model="Model" func="(item)=>((FormHotel)item).FloorId" label="Tầng" />
                    </div>
                    <div class="form-group col-md-2">
                        <az-typeOfHotel-select model="Model" func="(item)=>((FormHotel)item).TypeOfHotelID" label="Loại phòng trọ" />
                    </div>
                    <div class="form-group col-md-2">
                        <az-hotel-status-select model="Model" func="(item)=>((FormHotel)item).HotelStatus" label="Trạng thái phòng" />
                    </div>
                    <div class="form-group col-md-2">
                        <az-number-model model="Model" func="(item)=>((FormHotel)item).RoomCharge" label="Tiền phòng" />
                    </div>
                </form>
            </div>
            <div class="col-md-2 align-self-center">
                <div class="btn-group float-right ">
                    <button type="button" class="btn btn-warning  az-btn az-btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
                    <button type="button" class="btn btn-warning  dropdown-toggle dropdown-icon az-btn" data-toggle="dropdown">
                        <span class="sr-only">Tìm kiếm nâng cao</span>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="az-data-table">
            </ul>
        @foreach (var item in Model.Data)
        {
            <div style="width: 19%; display:inline-block;">
                <table>
                    <tr>
                        <td>Mã nhà trọ: </td>
                        <td>@item.Code</td>
                    </tr>
                    <tr>
                        <td>Tên phòng trọ: </td>
                        <td>@item.Name</td>
                    </tr>
                    <tr>
                        <td>Loại phòng trọ: </td>
                        <td>@item.TypeOfHotelID</td>
                    </tr>
                    <tr>
                        <td>Tên khu vực: </td>
                        <td>@item.AreaID</td>
                    </tr>
                    <tr>
                        <td>Tầng: </td>
                        <td>@item.FloorId</td>
                    </tr>
                    <tr>
                        <td>Trạng thái: </td>
                        <td>@item.HotelStatus</td>
                    </tr>
                    <tr>
                        <td>Tiền phòng: </td>
                        <td>@item.RoomCharge</td>
                    </tr>
                </table>
            </div>
        }
        @*<az-table data="Model.Data" FunKey="(item)=>((HotelModel)item).Id" columns="Model.Columns" pagination="Model" />*@

    </div>
    <div class="az-bottom-manager">
        <az-pagination pagination="Model" />
    </div>
</az-module-layout>