@model FormCheckinCheckout
<az-module-layout>
    <div class="az-manager" id="FormCheckinCheckout" data-form-size="az-modal-xl">
        <div class="az-toolbar">
            <div class="row">
                <div class="col-md-3 form-group">
                    <button type="button" class="btn btn-info   az-btn az-btn-export"><i class="fas fa-file-export"></i> Xuất Excel (F2)</button>
                    <button type="button" class="btn btn-secondary  az-btn az-btn-import" ><i class="fas fa-file-import"></i> Nhập Excel (F3)</button>
                </div>
                <div class="col-md-7">
                    <form class="az-search-form row">
                        <az-hidden-model model="Model" func="(item) => ((FormCheckinCheckout)item).PageSize" />
                        <div class="form-group col-md-2">
                            <az-year-select model="Model" func="(item) => ((FormCheckinCheckout)item).Year" class="form-control form-control-sm  az-input-change-search" label="" time-year="3" attr="data-not-search='WorkerId'" null-text="Chọn năm" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-month-select model="Model" func="(item) => ((FormCheckinCheckout)item).Month" class="form-control form-control-sm  az-input-change-search" label="" attr="data-not-search='WorkerId'" null-text="Chọn tháng" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-company-worker-select model="Model" func="(item) => ((FormCheckinCheckout)item).CompanyId" class="form-control form-control-sm  az-input-change-search" label="" attr="data-not-search='WorkerId'" null-text="Chọn công ty" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-select-model model="Model" func="(item) => ((FormCheckinCheckout)item).WorkerId" list-object="Model.Workers" class="form-control form-control-sm  az-input-change-search" label="" null-text="Chọn công nhân" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="az-data-table">
            
            <table class="table table-hover table-freeze">
                <thead>
                    <tr>
                        <th width="250px" class="column-freeze text-right">Ngày</th>
                        @for (var day = Model.StartDate; day <= Model.EndDate; day = day.AddDays(1))
                        {
                            var txtday = "az-color-last-day";
                            if (day.DayOfWeek != DayOfWeek.Saturday && day.DayOfWeek != DayOfWeek.Sunday)
                            {
                                txtday = "";
                            }
                            <th class="cell-freeze text-center @txtday" colspan="2">@day.ToString("dd") 
                        
                                @if(day==DateTime.Now.Date){                                     
                                <b>Hôm nay</b>
                                }
                            <az-day-of-week-select value="(int)day.DayOfWeek" attr="disabled" add-js="false"/>
                        </th>
                        }
                    </tr>
                    <tr>
                        <th width="250px" class="column-freeze">Họ Tên</th>
                        @for (var day = Model.StartDate; day <= Model.EndDate; day = day.AddDays(1))
                        {
                            var txtday = "az-color-last-day";
                            if (day.DayOfWeek != DayOfWeek.Saturday && day.DayOfWeek != DayOfWeek.Sunday)
                            {
                                txtday = "";
                            }
                            <th class="cell-freeze text-center @txtday">Làm ca</th>
                            <th class="cell-freeze text-center @txtday">Giờ tăng ca</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Workers != null)
                    {
                        @foreach (var worker in Model.Workers)
                        {
                    <tr>
                        <td width="250px" class="column-freeze">@worker.FullName ( @worker.PhoneNumber )</td>
                        @for (var day = Model.StartDate; day <= Model.EndDate; day = day.AddDays(1))
                        {
                            var txtday = "az-color-last-day";
                            if (day.DayOfWeek != DayOfWeek.Saturday && day.DayOfWeek != DayOfWeek.Sunday)
                            {
                                txtday = "";
                            }
                            <td class="cell-freeze @txtday">
                                <az-work-shift-select add-js="false" />
                            </td>
                            <td class="cell-freeze @txtday">
                                <az-text />
                            </td>
                        }
                    </tr>
                     
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="az-bottom-manager">
            <h4>Tổng số công nhân : @(Model.Workers != null?Model.Workers.Count:0) Chấm công từ ngày @Model.StartDate.ToString("dd/MM/yyyy") đến @Model.EndDate.ToString("dd/MM/yyyy")</h4>
        </div>
    </div>
</az-module-layout>
<az-style>
    #FormCheckinCheckout .cell-freeze .form-control{
    margin:0px;
    }
    #FormCheckinCheckout .cell-freeze{
    min-width:110px;
    }
    #FormCheckinCheckout tbody .cell-freeze{
    padding:5px;
    }
    #FormCheckinCheckout .az-color-last-day {
    background-color: #aaa;
    }
    #FormCheckinCheckout thead select {
    text-align: center;
    text-align-last: center;
    /* webkit*/
    }
    #FormCheckinCheckout thead option {
    text-align: left;
    /* reset to left*/
    }
</az-style>
<az-script>
    $(document).ready(function() {
    $("#FormCheckinCheckout").AZManager(function(ma){
        $(".table-freeze").TableFreeze();});
    });
</az-script>
