@model ViewPermission

<div class="az-view-permission">
    <table class="table table-bordered az-table table-hover">
        <thead>
            <tr>
                <th  style="width: 200px;text-align: center;">Module</th>
                <th  style="width: 38px;text-align: center;">All</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        @if (Model.Permissions != null)
        {
            @foreach (var item in Model.Permissions.Where(p=>p.Key.IndexOf("_")<0))
            {
    <tr>
        <td>  <az-checkbox label="@item.Name" value="@item.Code" attr="@Model.CheckItem(item)" id="@item.Key" name="@item.Key" /></td>

        <td><az-checkbox  id="@item.Key+'_'" name="@item.Key+'_'" /></td>
        <td class="az-permission-child">

            @foreach (var item1 in Model.Permissions.Where(p => p.Key.IndexOf("_") > 0 && p.Code.StartsWith(item.Code)))
            {
                <span>
                    <az-checkbox label="@item1.Name" value="@item1.Code" id="@item1.Key" attr="@Model.CheckItem(item1)" name="@item1.Key" />
                </span>
            }
        </td>
    </tr>
            }
        }

    </table>

</div>