@model TenantModel
    <az-script>
        $(function(){
        $('[name=Description]').summernote({ height: 150 });
        });
    </az-script>
<az-content-header />
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <form method="post">
            <div class="row">
                <div class="col-12 form-group">
                    @Html.LabelFor(p => p.Name, "Tên đơn vị cung ứng")
                    @Html.TextBoxFor(p => p.Name, new { Class = "form-control" })
                </div>
                <div class="col-12 form-group">
                    @Html.LabelFor(p => p.CanonicalName, "Tên thương hiệu")
                    @Html.TextBoxFor(p => p.CanonicalName, new { Class = "form-control" })
                </div>
                <div class="col-12 form-group">
                    @Html.LabelFor(p => p.NormalizedCanonicalName, "Slug")
                    @Html.TextBoxFor(p => p.NormalizedCanonicalName, new { Class = "form-control" })
                </div>
                <div class="col-6 form-group">
                    @Html.LabelFor(p => p.ConcurrencyStamp, "Code đơn vị")
                    @Html.TextBoxFor(p => p.ConcurrencyStamp, new { Class = "form-control" })
                </div>
                <div class="col-6 form-group">
                    <a href="/auth/register-tenant.az?ref-code=@Model?.ConcurrencyStamp">Đường dẫn đăng ký thành viên của đơn vị.</a>
                </div>
                <div class="col-4 form-group">
                    @Html.LabelFor(p => p.Phone, "Số điện thoại")
                    @Html.TextBoxFor(p => p.Phone, new { Class = "form-control" })
                </div>
                <div class="col-4 form-group">
                    @Html.LabelFor(p => p.Email, "Email")
                    @Html.TextBoxFor(p => p.Email, new { Class = "form-control" })
                </div>
                <div class="col-4 form-group">
                    @Html.LabelFor(p => p.Website, "Website")
                    @Html.TextBoxFor(p => p.Website, new { Class = "form-control" })
                </div>
                <div class="col-12 form-group">
                    @Html.LabelFor(p => p.Description, "Mô tả")
                    @Html.TextAreaFor(p => p.Description, new { Class = "form-control" })
                </div>
                <div class="col-12 form-group">
                    <div class="icheck-primary">
                        @Html.LabelFor(p => p.IsShowHome, "Cho phép hiển thị trên trang chủ")
                        @Html.CheckBoxFor(p => p.IsShowHome, new { Class = "" })
                    </div>
                </div>
                <div class="col-12 form-group">
                    <input class="btn btn-success" type="submit" value="Lưu thiết lập" />
                </div>
            </div>
        </form>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->