@model TenantModel
    <az-script>
        $(function(){
        $('[name=Description]').summernote({ height: 150 });
        });
    </az-script>
<az-content-header />
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <form method="post">
            <div class="row">
                <div class="col-12 form-group">
                    @Html.ZHtml().LabelFor(p => p.Name)
                    @Html.ZHtml().TextBoxFor(p => p.Name)
                </div>
                <div class="col-12 form-group">
                    @Html.ZHtml().LabelFor(p => p.CanonicalName)
                    @Html.ZHtml().TextBoxFor(p => p.CanonicalName)
                </div>
                <div class="col-12 form-group">
                    @Html.ZHtml().LabelFor(p => p.NormalizedCanonicalName, "Slug")
                    @Html.ZHtml().TextBoxFor(p => p.NormalizedCanonicalName)
                </div>
                <div class="col-6 form-group">
                    @Html.ZHtml().LabelFor(p => p.TenantCode)
                    @Html.ZHtml().TextBoxFor(p => p.TenantCode)
                </div>
                <div class="col-6 form-group">
                    <a href="/auth/register-tenant.az?ref-code=@Model?.TenantCode">Đường dẫn đăng ký thành viên của đơn vị.</a>
                </div>
                <div class="col-4 form-group">
                    @Html.ZHtml().LabelFor(p => p.PhoneNumber)
                    @Html.ZHtml().TextBoxFor(p => p.PhoneNumber)
                </div>
                <div class="col-4 form-group">
                    @Html.ZHtml().LabelFor(p => p.Email)
                    @Html.ZHtml().TextBoxFor(p => p.Email)
                </div>
                <div class="col-4 form-group">
                    @Html.ZHtml().LabelFor(p => p.Website)
                    @Html.ZHtml().TextBoxFor(p => p.Website)
                </div>
                <div class="col-12 form-group">
                    @Html.ZHtml().LabelFor(p => p.Description)
                    @Html.ZHtml().TextAreaFor(p => p.Description)
                </div>
                <div class="col-12 form-group">
                    <div class="icheck-primary">
                        @Html.ZHtml().LabelFor(p => p.IsShowHome)
                        @Html.ZHtml().CheckBoxFor(p => p.IsShowHome)
                    </div>
                </div>
                <div class="col-12 form-group">
                    <input class="btn btn-success" type="submit" value="Lưu thiết lập" />
                </div>
            </div>
        </form>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->