@model FormPurchaseOrders
<az-style module="PurchaseOrders.css" />
<az-script module="UpdatePurchaseOrders.js"/>
<az-layout class="az-update row az-commit-purchase-order" script-random='(id)=>$"UpdatePurchaseOrders(\".{id}\");"'>
    <div class="form-group col-md-8">
        <div class="az-page-info">
            <div class="az-page-info-title">Nhà cung cấp</div>
            <div class="az-page-info-body">
                <div class="list-info-supplier">
                    <div class="list-info-header">@Model.SupplierModel.Name</div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="list-info-item">
                                <div class="list-info-item-header">ĐỊA CHỈ XUẤT HÀNG</div>
                                <div class="list-info-item-content">@Model.SupplierModel.Address</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="list-info-item">
                                <div class="list-info-item-header">SỐ ĐIỆN THOẠI LIÊN HỆ</div>
                                <div class="list-info-item-content">@Model.SupplierModel.PhoneNumber</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="az-page-info">
            <div class="az-page-info-title"></div>
            <div class="az-page-info-body">
                <div class="form-group col-md-12">
                    <az-text-model is-enable="false" value="@Model.DataCurrent.Code" label="Mã đơn nhập hàng" />
                </div>
                <div class="form-group col-md-12">
                    <az-text-model is-enable="false" value="@Model.UserModel.FullName" label="Nhân viên tạo đơn" />
                </div>
                <div class="form-group col-md-12">
                    <az-store-select is-enable="false" value="@Model.DataCurrent.StoreId" label="Kho nhập hàng" null-text="Chọn kho" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="az-page-info">
            <div class="az-page-info-title">Sản phẩm</div>
            <div class="az-page-info-body">
                <div class="az-data-table">
                    <table class="table table-bordered table-hover az-table " role="grid">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Mã SKU</td>
                                <td>Tên sản phẩm</td>
                                <td>Số lượng nhập</td>
                                <td>Giá nhập</td>
                                <td>Thành tiền</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{ long valueSum = 0; }
                            @{ long valueMoney = 0;}
                            @foreach (var item in Model.listDataOrder)
                            {
                            <tr>
                                <td style="width: 60px"><img style="width: 100%" src="@Model.getProduct(item.ProductId)?.Picture"></td>
                                <td>@Model.getProduct(item.ProductId)?.Code</td>
                                <td>@Model.getProduct(item.ProductId)?.Name</td>
                                <td>@item.ImportNumber</td>
                                <td>@item.ImportPrice</td>
                                <td>@String.Format("{0:#,###}", @item.ImportNumber * @item.ImportPrice)</td>
                                @{ valueSum += item.ImportNumber; }
                                @{ valueMoney += (item.ImportPrice * item.ImportNumber); }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <az-text-area-model is-enable="false" add-js="false" model="Model.DataCurrent" func="(item)=>((PurchaseOrderModel)item).Note" label="Ghi chú"></az-text-area-model>
    </div>
    <div class="col-md-6">
        <div class="list-info-money">
            <div class="item-info-money">
                <div class="label">Số lượng</div>
                <div class="value">@String.Format("{0:#,###}", valueSum)</div>
            </div>
            <div class="item-info-money">
                <div class="label">Tổng tiền (VNĐ)</div>
                <div class="value">@String.Format("{0:#,###}", valueMoney)</div>
            </div>
            <div class="item-info-money">
                <div class="label">Chi phí (VNĐ)</div>
                <div class="value">0</div>
            </div>
            <div class="item-info-money">
                <div class="label"><b>Tiền cần trả (VNĐ)</b></div>
                <div class="value">@String.Format("{0:#,###}", valueMoney)</div>
            </div>
        </div>
    </div>
    <div class="col-md-12 row footer">
        <az-layout is-show="@(Model.DataCurrent.PurchaseOrderPayment != OrderPayment.Paid && Model.DataCurrent.PurchaseOrderStatus == OrderStatus.Waiting)" class="col-md-10">
            <button class="btn btn-secondary az-btn az-payment" data-cmd-key="f4"><i class="far fa-finish"></i> Xác nhận thanh toán (F4)</button>
        </az-layout>
        <az-layout is-show="@(Model.DataCurrent.PurchaseOrderImport != PurchaseOrderImport.Import && Model.DataCurrent.PurchaseOrderStatus == OrderStatus.Waiting)" class="col-md-2">
            <button class="btn btn-primary az-btn az-import-store" data-cmd-key="f3"><i class="far fa-finish"></i> Nhập kho (F3)</button>
        </az-layout>
    </div>
</az-layout>