@model FormJobDetail
<!-- search_box -->
@Model.ViewChild("Component/SearchBox")
<!--/ search_box -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="thumb">
                                <img src="/jobf/img/svg_icon/@(Model.JobId).svg" alt="">
                            </div>
                            <div class="jobs_conetent">
                                <a href="#"><h4>@Model.jobInfo.Title</h4></a>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p> <i class="fa fa-map-marker"></i> @Model.jobInfo.Address</p>
                                    </div>
                                    <div class="location">
                                        <p> <i class="fa fa-clock-o"></i> <az-job-nature-label value="@Model.jobInfo.JobType" /></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobs_right">
                            <div class="apply_now" style="margin-right:5px;">
                                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                            </div>
                        </div>
                        <az-component component="Component/ApplyJobButton", model="Model.jobInfo"/>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    @Html.Raw(Model.jobInfo.Content)
                    <az-component component="Component/ApplyJobButton" , model="Model.jobInfo" />
                </div>

            </div>
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3>Tóm tác công việc</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>Đăng tuyển lúc: <span>@Model.jobInfo.CreateAt.ToString("HH:mm dd/MM/yyyy")</span></li>
                            <li>Vị trí tuyển dụng: <span>1 vị trí</span></li>
                            <li>Lương: <span>@Model.jobInfo.SalaryFrom.ToString("n0") - @Model.jobInfo.SalaryTo.ToString("n0")</span></li>
                            <li>Địa điểm làm việc: <span> @Model.jobInfo.Address</span></li>
                            <li>Tính chất công việc: <span> <az-job-nature-label value="@Model.jobInfo.JobType" /></span></li>
                        </ul>
                    </div>
                </div>
                <div class="share_wrap d-flex">
                    <span>Share at:</span>
                    <ul>
                        <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-google-plus"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                    </ul>
                </div>
                <div class="job_location_wrap">
                    <div class="job_lok_inner">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>