@model UserModel

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.ZHtml().LabelFor(p => p.FullName)
            @Html.ZHtml().TextboxFor(p => p.FullName)
        </div>
        <div class="form-group col-md-6">
            @Html.ZHtml().LabelFor(p => p.Email)
            @Html.ZHtml().TextboxFor(p => p.Email)
        </div>
        <div class="form-group col-md-6">
            @Html.ZHtml().LabelFor(p => p.PhoneNumber)
            @Html.ZHtml().TextboxFor(p => p.PhoneNumber)
        </div>
        <div class="form-group col-md-6">
            @Html.ZHtml().LabelFor(p => p.Gender)
            @Html.ZHtml().DropDownListFor(p => p.Gender)
        </div>
        <div class="form-group col-md-12">
            @Html.ZHtml().LabelFor(p => p.Address)
            @Html.ZHtml().TextAreaFor(p => p.Address, 3)
        </div>
        @if (Model == null)
        {
            <div class="form-group col-md-12">
                @Html.ZHtml().LabelFor(p => p.Password)
                @Html.ZHtml().PasswordFor(p => p.Password)
            </div>
        }
    </div>