@model JobInfoModel
<div class="col-lg-12 col-md-12">
    <div class="single_jobs white-bg d-flex justify-content-between">
        <div class="jobs_left d-flex align-items-center">
            <div class="thumb">
                <img src="/jobf/img/svg_icon/@(Model.Id).svg" alt="">
            </div>
            <div class="jobs_conetent">
                <a href="viec-lam/@Model.Id-@(Model.Title.ToUrlSlug()).az" title="@Model.Title"><h4>@Model.Title</h4></a>
                <div class="links_locat d-flex align-items-center">
                    <div class="location">
                        <p> <i class="fa fa-map-marker"></i> @Model.Address</p>
                    </div>
                    <div class="location">
                        <p> <i class="fa fa-clock-o"></i> <az-job-nature-label value="@Model.JobType"/></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jobs_right">
            <div class="apply_now">
                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                <az-component component="ApplyJobButton" model="Model"/>
            </div>
            <div class="date">
                <p>Hạn đến hết: @Model.JobTo.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
    </div>
</div>
<az-style>
    .single_jobs .jobs_right .apply_now .apply_job{ float:right;}
</az-style>